<div class="card">
  <div class="card-header">
    <i class="fa fa-building"></i> Organization Management
  </div>
  <div class="card-body">
    <app-grid [dataset]=organization>
      <app-gridcolumn [width]="'10%'" [value]="'organizationImage'" [header]="'Logo'" [sorting]="false" [type]="'image'" [imgstyleclass]="'orgImage'"></app-gridcolumn>
      <app-gridcolumn [width]="'25%'" [value]="'organizationName'" [header]="'Organization Name'" [sorting]="true" [type]="'text'"></app-gridcolumn>
      <app-gridcolumn [width]="'25%'" [value]="'organizationEmail'" [header]="'Organization Email'" [sorting]="true" [type]="'text'"></app-gridcolumn>
      <app-gridcolumn [width]="'25%'" [value]="'organizationContact'" [header]="'Organization Contact'" [sorting]="true" [type]="'text'"></app-gridcolumn>
    </app-grid>
  </div>
</div>