  <div class="float-left">
    <div class="col-md-12 col-sm-12 col-xs-12">
      <div class="form-group row">
          <select [(ngModel)]="size" (change)="handleEvent()" class="form-control">
              <option>10</option>
              <option>20</option>
              <option>30</option>
              <option>40</option>
              <option>50</option>
            </select>
      </div>
    </div>
  </div>
  <div class="float-right">
    <div class="col-md-12 col-sm-12 col-xs-12">
      <div class="form-group row">
        <div class="input-group">
          <input class="form-control" (keyup)="search($event)" [(ngModel)]="keyword" id="input1-group2" name="input1-group2" placeholder="Search" type="text">
          <span class="input-group-prepend">
            <button class="btn btn-primary" type="button" (click)="handleEvent()"><i class="fa fa-search"></i></button>
          </span>
        </div>
      </div>
    </div>
  </div>
<table class="table table-bordered">
  <thead>
    <tr>
      <th *ngFor="let column of columns" [style.width]="column.width">
       <span *ngIf="!column.sorting">{{column.header}}</span>
       <span *ngIf="column.sorting && !(sortColumn == column.value)" style="cursor:pointer;" (click)="onSort(column.value, 1)">
           {{column.header}}
           <i class="fa fa-fw fa-sort"></i>
       </span> 
       <span *ngIf="column.sorting && sortColumn == column.value && sortDirection == -1" 
           style="cursor:pointer;" (click)="onSort(column.value, 1)">
           {{column.header}}
           <i class="fa fa-fw fa-sort-desc"></i>
       </span>
       <span *ngIf="column.sorting && sortColumn == column.value && sortDirection == 1" 
       style="cursor:pointer;" (click)="onSort(column.value, -1)">
           {{column.header}}
           <i class="fa fa-fw fa-sort-asc"></i>
       </span>
      </th>
    </tr>
  </thead>
  <tbody>
    <tr *ngFor="let i = index;let row of dataset">
      <td *ngFor="let column of columns;">
        <div *ngIf="column.type=='text'">  
          <div *ngIf="row[column.value] != '' || row[column.value] != null || row[column.value] != 'null' || row[column.value] != 'undefined' || row[column.value] != undefined">{{row[column.value]}}</div>
          <div *ngIf="row[column.value] == '' || row[column.value] == null || row[column.value] == 'null' || row[column.value] == 'undefined' || row[column.value] == undefined"></div>
        </div>
        <div *ngIf="column.type=='image'">
            <img [src]="viewImg(row[column.value])" [ngClass]="column.imgstyleclass" >
        </div>
        <div class="template" *ngIf="column.type=='template'">
          <ng-container *ngTemplateOutlet="column.value; context: { col: column, row: row }" ></ng-container>
        </div>
      </td>
    </tr>
  </tbody>
</table>
<ul class="pagination float-right">
  <li [ngClass]="{disabled:pager.currentPage === 1}">
      <a (click)="setPage(1)">First</a>
  </li>
  <li [ngClass]="{disabled:pager.currentPage === 1}">
      <a (click)="setPage(pager.currentPage - 1)">Previous</a>
  </li>
  <li *ngFor="let page of pager.pages" [ngClass]="{active:pager.currentPage === page}">
      <a (click)="setPage(page)">{{page}}</a>
  </li>
  <li [ngClass]="{disabled:pager.currentPage === pager.totalPages}">
      <a (click)="setPage(pager.currentPage + 1)">Next</a>
  </li>
  <li [ngClass]="{disabled:pager.currentPage === pager.totalPages}">
      <a (click)="setPage(pager.totalPages)">Last</a>
  </li>
</ul>